<h1 class="page-header">Full course calendar:
  <span class='label label-info dropdown'><%= @course_info[:title] %></span><span class="caret"></span>
</h1>
<div class="help well">
  help box
</div>

<div id='calendar' class='panel calendar-course'></div>

<div class='row'>
  <div class='col-md-6' id='controls'>
    <div class='panel panel-primary covered-students'>
      <div class='panel-heading'> STUDENTS COVERED BY CURRENT SELECTION </div>

      <div class='panel-body'>
        <div class="progress progress-thick" >
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
            <span class="sr-only">20% Complete</span>
            <span class="sr-only">3 of 49</span>
          </div>
        </div>

      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->



    <div class='panel panel-info display-options'>
      <div class='panel-heading'>
        DISPLAY OPTIONS
      </div>
      <div class='panel-body'>
        <div class='checkbox show-all'>
          <label>
            <input type='checkbox'>Show all educator availability
          </label>
        </div>
        <div class='checkbox'>
          <label>
            <input type='checkbox'>Show educator1 availability
          </label>
        </div>
      </div>
      <div class='panel-body'>
        <div class='checkbox hide-included'>
          <label>
            <input type='checkbox'>Hide times from board for already included students
          </label>
        </div>

      </div>
      <!-- end panel-body -->

    </div><!-- end panel panel-info -->
  </div><!-- end col -->

  <!-- a better way to pass data to js -->
  <%= content_tag 'div', nil, class: 'col-md-6', id: 'student-list', data: { students: @course_participants } do %>
    <div class="panel panel-default">
      <div class="panel-heading"> EXCLUDED FROM CURRENT SELECTION <span class='badge'><%= @course_participants.count %> </span>
      </div>
      <div class="panel-body">
        <table class='table excluded-students'>
          <% @course_participants.each do |cp| %>
            <tr><td><%=cp.user.email%></td></tr>
          <% end %>
        </table>
      </div>

      <div class="panel-heading">
        INCLUDED IN CURRENT SELECTION
        <span class='badge'> <%= @course_participants.count %> </span>
      </div>
      <div class="panel-body">
        <table class='table included-students'>
          <% @course_participants.each do |cp| %>
            <tr><td><%=cp.user.email%></td></tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>
<script>

WTBS = [
  <% @wtbs.each do |wtb| %>
    {
      title: 'busy',
      start: parseFromWTBTime('<%= wtb.from.strftime("%Y-%m-%d %H:%M") %>'),
      end: parseFromWTBTime('<%= wtb.to.strftime("%Y-%m-%d %H:%M") %>')
    },
  <%end%>
]
</script>
