<h1 class="page-header">Full course calendar:
      <span class='label label-info dropdown'><%= @course_info[:title] %></span><span class="caret"></span>
</h1>
<div class="help well">
  help box
</div>

<div id='calendar' class='panel'></div>

<div class='row equal'>
  <div class='col-md-6' id='controls'>
    <div class='panel panel-info'>
      <div class='panel-heading'>
        <h4>filtering options</h4>
      </div>
      <div class='panel-body'>
        <div class='checkbox'>
          <label>
            <input type='checkbox'>Show all educator availability
          </label>
        </div>
        <div class='checkbox'>
          <label>
            <input type='checkbox'>Show educator1 availability
          </label>
        </div>
      </div>

    </div>
  </div>
  <!-- a better way to pass data to js -->
  <%= content_tag 'div', nil, class: 'col-md-6', id: 'student-list', data: { students: @course_participants } do %>
    <row class='equal'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>excluded from current selection <span class='badge'><%= @course_participants.count %> </span></h4>
        </div>
        <div class="panel-body">
          <table class='table'>
            <% @course_participants.each do |cp| %>
              <tr><td><%=cp.user.email%></td></tr>
            <% end %>
          </table>
        </div>
      </div>
    </row>
    <row class='row equal'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>included in current selection <span class='badge'> <%= @course_participants.count %> </span></h4>
        </div>
        <div class="panel-body">
          <table class='table'>
            <% @course_participants.each do |cp| %>
              <tr><td><%=cp.user.email%></td></tr>
            <% end %>
          </table>
        </div>
      </div>
    </row>
  <% end %>
</div>
<script>

WTBS = [
  <% @wtbs.each do |wtb| %>
    {
      title: 'busy',
      start: parseFromWTBTime('<%= wtb.from.strftime("%Y-%m-%d %H:%M") %>'),
      end: parseFromWTBTime('<%= wtb.to.strftime("%Y-%m-%d %H:%M") %>')
    },
  <%end%>
]
</script>
