
<div id='calendar'></div>

<%= form_tag("#{@id}/save_calendar", method: :post) do |f| %>
  <%= hidden_field_tag :wtbs, @wtbs %>
  <input type="hidden" name="wtbs2" value="" />
  <%= submit_tag 'Save calendar', :onclick => "return calendarSubmit();" %>
<% end %>


<script>
WTBS = [
<% @wtbs.each do |wtb| %>
    {
      title: 'busy',
      start: parseFromWTBTime('<%= wtb.from.strftime("%Y-%m-%d %H:%M") %>'),
      end: parseFromWTBTime('<%= wtb.to.strftime("%Y-%m-%d %H:%M") %>')
    },
  <% end %>
  ];


  function parseFromWTBTime(dateTime) {
    var dt = moment(dateTime);
    console.log(dt.format());
    return dt.format();
  };

//  setTimeout(function() {
//$('#calendar').fullCalendar('addEventSource', wtbs);
//$('#calendar').fullCalendar('refetchEvents');
</script>
